/* Global & layout */
body {
	margin: 0;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
main {
	margin: 20px;
	padding: 20px 60px 35px;
}
p {
	font-size: 24px;
	line-height: 1.5;
	color: #333;
}

/* Header  */
header {
	font-weight: normal;
	background: transparent url("img/banner.png") no-repeat center right/cover;
	padding-top: 290px;
}
header h1 {
	position: relative;
	padding: 5px 0;
	text-align: center;
	font-family: 'Pirata One', cursive;
	font-size: 50px;
	background-color: #ff99cc;
	color: white;
	clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 70px, 100% 100%, 0 100%);
}

/* Buttons */
button {
	display: inline-flex;
	align-items: center;
	text-align: left;
	line-height: 28px;
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 24px;
	background-color: #ff99cc;
	color: white;
	border: none;
	padding: 10px 35px;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease .5s;
}
button:hover {
	transform: scale(1.1);
}

/* Form */
.inputCtnr {
	display: inline-flex;
	flex-direction: column;
	margin-top: 20px;
	line-height: 25px;
  font-size: 21px;
}
.answerInput {
	min-width: 350px;
	max-height: 30px;
	font-size: 24px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}
.answerBtn {
	padding: 5px 20px;
	font-size: 21px;
	line-height: 25px;
	align-self: center;
}
.sentenceCtnr .answerInput {
	min-width: 460px;
}
.sentenceCtnr .answerBtn {
	background-color: #cb99f9;
}

/* Titles  */
h1, h2 {
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 35px;
	margin: 0;
	color: black;
	/*color: #ff99cc;*/
}
h3 {
	font-size: 36px;
	color: #ff99cc;
	margin: 0 0 20px 0;
}

/* States */
.highlighted {
	text-decoration: underline;
}
.enigmaRoom {
	display: inline-flex;
	width: auto;
	padding: 5px 25px;
	margin: 10px 0 20px;
	font-weight: bold;
	color: #ff99cc;
	border-radius: 10px;
	border: 1px solid #ffd1e8;
}

/* Hidden / Displayed */
.displayed {
	transition: all ease 1s;
}
.hidden {
	position: absolute;
	top: 0;
	opacity: 0;
	height: 0;
	max-height: 0;
}
.displayed {
	position: relative;
	opacity: 1;
	height: auto;
	max-height: auto;
}

/* EggCtnr */
.eggCtnr {
	text-align: center;
}
.eggMessage-warning{
	color: red;
	margin-bottom: 20px;
	font-size: 25px;
}

/* eggMessage */
.eggMessage {
	border-radius: 10px;
	padding: 25px 35px;
	margin-top: 35px;
	background-color: #edf6f5;
}
.eggMessage-desc {
	padding: 0;
	margin: 0;
}

/* Last plage  */
.last_page h2 {
	font-size: 44px;
}
.last_page .eggMessage {
	padding: 20px;
	background-color: transparent;
}
.last_page .eggMessage img {
	display: inline-block;
	width: 400px;
	transform: rotate(-3deg);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	animation: move 3s linear infinite;
}

/* Deco  */
.egg {
	width: 35px;
  height: 45px;
  background-color: white;
  transform: skew(-5deg);
  border-radius: 50%;
  margin-left: 20px;
  animation: move .5s ease-in-out infinite;
}

.noEffect {
  animation-name: noEffect;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

/* Anims  */
@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes noEffect {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10%);
  }
  40% {
    transform: translateX(10%);
  }
  60% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
